<md-toolbar class="md-toolbar__main">
  <span>
    Total<br>
    Products<br>
    {{ totalProducts }}
  </span>
  <span>
    Total<br>
    Cost<br>
    {{ totalCost | currency:'AUD':true }}
  </span>

  <md-toolbar-row>
    <span></span>
  </md-toolbar-row>

</md-toolbar>


<div layout="row" class="div__toggleView--Container">
  <span><a href="#" (click)="toggleLayout('list')"><md-icon class="md-icon__toggleViewIcon" >list</md-icon></a></span>
  <span><a href="#" (click)="toggleLayout('grid')"><md-icon class="md-icon__toggleViewIcon active">view_module</md-icon></a></span>
</div>

<div class="container-fluid">

  <div *ngIf="layoutView === 'grid'">
  <md-card
    class="md-card__container"
    *ngFor="let product of products"
    [ngClass]="(product.items.length > 1) ? 'col-xs-12 col-sm-8 col-sm-offset-1 col-md-7 col-lg-7': 'col-xs-12 col-sm-8 col-sm-offset-1 col-md-2 col-lg-2'">

    <button md-mini-fab
            class="button__addIcon"
            (click)="addProductToCart(product.items)"><md-icon> add </md-icon></button>
    <div layout="column"
         *ngFor="let item of product.items"
         [ngClass]="(product.items.length > 1) ? 'col-xs-12 col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-1 col-lg-4 col-lg-offset-1': ''">
      <img md-card-image src="{{item.imageUrl}}" />
      <md-card-subtitle>{{ item.title | uppercase }}</md-card-subtitle>
      <md-card-content class="md-card-content__productDetails">
        <div layout="row">
          <div flex="75">&nbsp;</div>
          <div flex="25"><p>${{ item.unitCost | currency:'AUD' }}</p></div>
          <p class="p__smallPackDescription">per unit</p>
        </div>
        <div layout="row">
          <p class="p__smallPackDescription">${{ item.unitsInCartons }} units per carton</p>
          <p class="p__smallPackDescription">({{ calculatePackCost(item) | currency:'AUD':true }})</p>
        </div>
      </md-card-content>
    </div>
    <div>
      <md-card-footer *ngIf="displayPackRecommendations(product.items)" class="md-card-footer__pack--info">
        <md-grid-list cols="2" rowHeight="0.14:.02">
          <md-grid-tile>
            <p>
              <span class="span__highlight--Digits">{{ product.items.length }}</span> <span>ITEMS</span><br>
              <span>SELLS WELL TOGETHER*</span>
            </p>
          </md-grid-tile>
          <md-grid-tile>
            <p>
              <span class="span__highlight--Digits">{{ calculateRecommendationPercentage(product.recommendation) }}</span><br>
              <span>RECOMMENDED*</span></p>
          </md-grid-tile>
        </md-grid-list>
      </md-card-footer>
    </div>
  </md-card>
  </div>

  <div [ngClass]="(layoutView !== 'list') ? 'hide' : 'show'">
  <div
    *ngFor="let cartItem of shoppingCart"
    class="col-xs-12 col-sm-10 col-sm-offset-0 col-md-offset-1 col-md-10 col-md-offset-1 col-lg-10">
    <div class="row"><h2 class="h2__shoppingCartTitle">{{ cartItem.secondaryCategory }}</h2></div>
    <div class="row div__shoppingCartSubTitles">
      <h3 class=" col-xs-offset-1 col-xs-2 col-sm-2 col-md-2 col-lg-2">IMAGE</h3>
      <h3 class="col-xs-2 col-sm-2 col-md-2 col-lg-2">NAME</h3>
      <h3 class="col-xs-1 col-sm-1 col-md-1 col-lg-1">UNIT COST</h3>
      <h3 class="col-xs-1 col-sm-1 col-md-1 col-lg-1">PACK SIZE<br> <span>No of Units</span></h3>
      <h3 class="col-xs-1 col-sm-1 col-md-1 col-lg-1">UNITS IN CARTON</h3>
      <h3 class="col-xs-1 col-sm-1 col-md-1 col-lg-1">NO. OF CARTONS</h3>
      <h3 class="col-xs-1 col-sm-1 col-md-1 col-lg-1">VALUE</h3>
      <h3 class="col-xs-1 col-sm-1 col-md-1 col-lg-1">ACTIONS</h3>
    </div><!--//.div__shoppingCartSubTitles-->
    <div class="row">
      <div class="div__shoppingCartContentBlocks col-xs-offset-1 col-xs-2 col-sm-2 col-md-2 col-lg-2"><img src="{{ cartItem.imageUrl }}" alt="" width="70%"></div>
      <div class="div__shoppingCartContentBlocks col-xs-2 col-sm-2 col-md-2 col-lg-2">{{ cartItem.title }}</div>
      <div class="div__shoppingCartContentBlocks col-xs-1 col-sm-1 col-md-1 col-lg-1">{{ cartItem.unitCost | currency:'AUD':true }}</div>
      <div class="div__shoppingCartContentBlocks col-xs-1 col-sm-1 col-md-1 col-lg-1">{{ cartItem.packSize }}</div>
      <div class="div__shoppingCartContentBlocks col-xs-1 col-sm-1 col-md-1 col-lg-1">{{ cartItem.unitsInCartons }}</div>
      <div class="div__shoppingCartContentBlocks col-xs-1 col-sm-1 col-md-1 col-lg-1">
        <input type="text" value="" size="3" class="form-control" [(value)]="cartItem.noOfCartons">
      </div>
      <div class="div__shoppingCartContentBlocks col-xs-1 col-sm-1 col-md-1 col-lg-1">{{ cartItem.unitsInCartons * cartItem.unitCost * cartItem.noOfCartons | currency:'AUD':true }}</div>
      <div class="div__shoppingCartContentBlocks col-xs-1 col-sm-1 col-md-1 col-lg-1">
        <a (click)="removeFromCart(cartItem)"><md-icon>clear</md-icon></a>
      </div>
    </div> <!--//.row-->
  </div>
  </div>

</div> <!--//.container-fluid-->




